

<!--<div class="container">
<!--  <h2>TECHEXPLORE</h2> -->

<!-- <style>
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }






    /* Add a gray background color and some padding to the footer */
    footer {
      background-color:#33b5e5;
      padding: 25px;
    }
  </style>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!--<a class="navbar-brand navbar-center" href="#">HOME</a>-->
      
    <!--</div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li> -->
       <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> REGISTER</a></li>-->
<a href="#" class="btn primary">
</a>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    c.important{
	float: right;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Internships</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
  </div>
</div><br><br>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div class="container">
  <li><a href="#">BHEL <span class="Options"></span></a><br></li>
  <li><a href="#">BSNL <span class="Options"></span></a><br></li>
  <li><a href="#">SOLARPANELS <span class="Options"></span></a></li>
</div>

<c class = "important">
<div>
<li><label for="mydropdown" datalabel="mydropdown"><br>Place:</label>   
<select name="mydropdown">
    <option value="bangalore">Bangalore</option>
    <option value="Chennai">Chennai</option>
    <option value="hyderabad">Hyderabad</option>
    <option value="Other">other</option>
</select>
</li>
</c>
<c class = "important">
<div>
<li><label for="mydropdown" datalabel="mydropdown"><br>Branch:</label>    
<select name="mydropdown">
    <option value="ECE">ECE</option>
    <option value="CSE">CSE</option>
    <option value="IT">IT</option>
    <option value="EEE">EEE</option>
    <option value="Other">Other</option>
</select>
</li> 
</c>
</div>
<c class="important">
<div>
<li><label for="mydropdown" datalabel="mydropdown"><br>Duration:</label>    
<select name="mydropdown">
    <option value="2 weeks">2 weeks</option>
    <option value="1 month">1 month</option>
    <option value="6 months">6 months</option>
    <option value="1 year">1 year</option>
</select>
</div>
</li> 
</c>



<form method=post name=f1 action=''><input type=hidden name=todo >

<table border="0" cellspacing="0" >
  
<c class="important">
<div>
<li><label for="mydropdown" datalabel="mydropdown">Date:<select name=dt >

<option value='01'>01</option>
<option value='02'>02</option>
<option value='03'>03</option>
<option value='04'>04</option>
<option value='05'>05</option>
<option value='06'>06</option>
<option value='07'>07</option>
<option value='08'>08</option>
<option value='09'>09</option>
<option value='10'>10</option>
<option value='11'>11</option>
<option value='12'>12</option>
<option value='13'>13</option>
<option value='14'>14</option>
<option value='15'>15</option>
<option value='16'>16</option>
<option value='17'>17</option>
<option value='18'>18</option>
<option value='19'>19</option>
<option value='20'>20</option>
<option value='21'>21</option>
<option value='22'>22</option>
<option value='23'>23</option>
<option value='24'>24</option>
<option value='25'>25</option>
<option value='26'>26</option>
<option value='27'>27</option>
<option value='28'>28</option>
<option value='29'>29</option>
<option value='30'>30</option>
<option value='31'>31</option>
</select>
</li>
</c>

<c class = "important">  

<select name=month value=''>Select Month</option>
<option value='01'>January</option>
<option value='02'>February</option>
<option value='03'>March</option>
<option value='04'>April</option>
<option value='05'>May</option>
<option value='06'>June</option>
<option value='07'>July</option>
<option value='08'>August</option>
<option value='09'>September</option>
<option value='10'>October</option>
<option value='11'>November</option>
<option value='12'>December</option>
</select>
</div>
</c>


</body>
</html>
